<a title="https://github.com/eric-dowty?tab=repositories" href="https://github.com/eric-dowty?tab=repositories">
  <img class="code" src="images/octocat.png" alt="octocat" height="400"></a>
<h3 class="code_text">Click on Octocat to check out Eric's GitHub repositories.</h3>
