<div class="contact_info">
  <table>
    <tr>
      <td><a title="eric.m.dowty@gmail.com" href="mailto:eric.m.dowty@gmail.com">
        <img src="images/gmail.png" alt="gmail" height="97"></a></td>
      <td><a title="http://linkedin.com/pub/eric-dowty/96/56b/a39/en" href="http://linkedin.com/pub/eric-dowty/96/56b/a39/en">
        <img src="images/in.png" alt="gmail" height="100"></a></td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td><a title="https://www.facebook.com/eric.dowty.98" href="https://www.facebook.com/eric.dowty.98">
        <img src="images/fb.png" alt="gmail" height="100"></a></td>
      <td><a title="https://twitter.com/ericdowty" href="https://twitter.com/ericdowty">
        <img src="images/twitter.ico" alt="gmail" height="100"></a></td>
    </tr>
  </table>
</div>