<div class="personal_picture">
  <img src="images/black_white_eric_d.jpg" alt="personal picture" height="400">
</div>
<div class="name_space">
  <h1 class="white_1">Eric</h1>
  <h1 class="white_1">Dowty</h1>
  <br><br>
  <h3 class="white_2">Code.</h3>
  <h3 class="white_2">Built.</h3>
  <h3 class="red_2">Better.</h3>
</div>
