<html>
  <head>
    <title>Eric Dowty</title>
  </head>
    <link href="css/styles.css" rel="stylesheet">
  <body>
  <div id="body">
    <div id="header_bar">
      <div id="header_tabs">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/blog">BLOG</a></li>
          <li><a href="/code">CODE</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
    <section>
      <%= yield %>
    </section>
    <div id="footer_bar">
    </div>
  </div>
  </body>
</html>